
.noteListContainer {
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.noteListHeader{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

.archivedNotesButton{
  background-color: #abb740;
  color: #050505;
  padding: 8px 12px;
  margin-right: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.noteListTitle {
  font-size: 24px;
  margin-bottom: 16px;
  color: #333;
}

.noteList {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  background-color: #fff;
}

.noteList p {
  margin: 8px 0;
  font-size: 16px;
  color: #555;
}

.noteHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #e1e1e1;
}

.noteTitle {
  margin: 0;
  font-size: 20px;
  color: #333;
}

.noteActions {
  display: flex;
  gap: 8px;
}

.noteContent {
  padding: 16px;
  font-size: 16px;
  color: #555;
}
.noteListEditButton,
.noteListDeleteButton {
  background-color: #4caf50;
  color: #fff;
  padding: 8px 12px;
  margin-right: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.noteListDeleteButton {
  background-color: #f44336;
}

.noteListEditButton:hover,
.noteListDeleteButton:hover {
  opacity: 0.8;
}

.noteListArchiveButton{
  background-color: #49508f;
  color: #fff;
  padding: 8px 12px;
  margin-right: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}
.noteListArchiveButton:hover{
  opacity: 0.8;
}




.noteListAddTagButton {
  background-color: #615b60;
  color: #fff;
  padding: 8px 12px;
  margin-right: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.noteListAddTagButton:hover {
  opacity: 0.8;
}

.noteListRemoveButton {
  background-color: #182b1b;
  color: #fff;
  padding: 8px 12px;
  margin-right: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.noteListRemoveButton:hover {
  opacity: 0.8;
}



.tagInputContainer {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.tagInputContainer label {
  font-weight: bold;
}

.tagInputContainer select {
  margin-right: 1em;
}

.tagInputButton,
.tagInputCancelButton {
  background-color: #4caf50;
  color: #fff;
  padding: 8px 12px;
  margin-right: .7em;
  border: none;
  border-radius: .4em;
  cursor: pointer;
  font-size: 0.8em;
}

.tagInputCancelButton {
  background-color: #f44336;
}

.tagInputButton:hover,
.tagInputCancelButton:hover {
  opacity: 0.8;
}

.tagSelectContainer {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.tagSelectContainer label {
  font-weight: bold;
}

.tagSelectContainer input {
  margin-right: 1em;
}

.tagSelectButton,
.tagSelectCancelButton {
  background-color: #4caf50;
  color: #fff;
  padding: 8px 12px;
  margin-left: .7em;

  margin-right: .7em;
  border: none;
  border-radius: .4em;
  cursor: pointer;
  font-size: 0.8em;
}

.tagSelectCancelButton {
  background-color: #f44336;
}

.tagSelectButton:hover,
.tagSelectCancelButton:hover {
  opacity: 0.8;
}

.noteListContainer {
  max-width: 800px;
  margin: 0 auto;
}

.noteListHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.noteListTitle {
  font-size: 24px;
}

.tagBalloons {
  display: flex;
  gap: 8px;
  margin-top: 10px;
}

.tagBalloon {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 12px;
}


.noNotesMessage {
  color: #555; 
  font-size: 3em;
  margin-top: 20px;
}

.allNotesArchivedMessage {
  color: #900;
  font-size: 2em;
  margin-top: 20px;
}

.noNotesWithTagMessage {
  color: #555; 
  font-size: 1.8em;
  margin-top: 20px;
}
